/* TV Links Style Sheet */
body {
	margin: 20px;
	padding: 0px;
	font-family: arial, sans-serif;
	font-size: 8pt;
}

p,td,input,select,a,button {
	font-family: arial, sans-serif;
	font-size: 8pt;
}

input.border,select.border,textarea.border {
	border: 1px solid #cccccc;
}
div.indent {
	margin-left: 5em;	
}

div.smallindent {
	margin-left: 2em;	
}

div.code {
	font-family: monospace;	
}

p.maths {
	margin-left: 5em;
	font-style: italic;	
}

table.noborder {
	border: none;	
}
table.nobordertight {
	margin:1px;	
}

td.noborder {
	border: none;	
}

h1 {
	font-family: arial, sans-serif;
	font-size: 14pt;
	font-weight: normal;
}

h2 {
	font-family: arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

img {
	border-width: 0px;
	outline-width: 0px;
}

a {
	text-decoration: none;
}

table {
	border: 1px solid #cccccc;
	border-width: 1px;
	border-collapse: collapse;
}

td {
	border: 1px solid #cccccc;	
	padding: 10px;
}

#otc {
	width: 100%;
	height: 197px;
	background-image: url('images/otc.png');
	background-repeat: repeat-x;
	text-align: center;
}

#otl {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 23px;
	height: 197px;
	background-image: url('images/otl.png');
	background-repeat: no-repeat;
}

#otr {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 536px;
	height: 197px;
	background-image: url('images/otr.png');
	background-repeat: no-repeat;
	background-position: right;
}

#htc {
	position: relative;
	margin: auto;
	top: 98px;
	width: 500px;
	height: 90px;
	background-image: url('images/htc.png');
	background-repeat: no-repeat;
	clear: both;
	z-index: 100;
}

#bcc {
	margin-left: 12px;
	margin-right: 12px;
	border-left: 3px solid #88d1f2;
	border-right: 3px solid #88d1f2;
	background-color: #ffffff;
	padding: 30px;
	/*zoom: 100%;*/
}

#bcc a {
	text-decoration: none;
	color: #808080;
}

#bcc a:hover {
	color: #000000;
}

p.bcc {
	display: inline;
}

#cat {
	position: absolute;
	display: inline;
	right: 44px;
	top: 200px;
	height: 27px;
	padding-top: 16px;
	padding-bottom: 10px;
	margin: 0px;
}

#cat ul {
	list-style: none;
	display: inline;
}

#cat ul li {
	list-style: none;
	display: inline;
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 10px;
	width: 10em;
}

#cat ul li a {
	padding: 15px 5px 10px 5px;
	font-family: tahoma, arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	background-image: url('images/cat1.png');
	background-repeat: no-repeat;
	color: #aaaaaa;
}

#cat ul li a:hover {
	color: #000000;
}

#cat ul li a.selected {
	color: #000000;
}

#cat ul li.forum a {
	background: none;
	border-left: 1px solid #dddddd;
}

#cat span {
	margin: 0px;
	padding-left: 24px;
}

#sel {
	position: absolute;
	left: 44px;
	top: 150px;
	width: 75px;
	height: 95px;
	background-image: url('images/sel1.png');
	background-repeat: no-repeat;
}

#sel h2 {
	position: relative;
	left: 85px;
	top: 45px;
}

#obc {
	background-image: url('images/obc.png');
	background-repeat: repeat-x;
	left: 0px;
	right: 0px;
	height: 12px;
}

#obl {
	float: left;
	left: 0px;
	width: 23px;
	height: 12px;
	background-image: url('images/obl.png');
	background-repeat: no-repeat;
}

#obr {
	float: right;
	width: 23px;
	height: 12px;
	background-image: url('images/obr.png');
	background-repeat: no-repeat;
}

#ofc {
	padding: 0px;
	margin-top: 10px;
	width: 100%;
	height: 26px;
	background-color: #ffffff;
	/*	virtical-align: middle;*/
	font-family: tahoma, arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

#ofl {
	float: left;
	width: 23px;
	height: 26px;
	background-image: url('images/ofl.png');
	background-repeat: no-repeat;
}

#ofr {
	float: right;
	width: 23px;
	height: 26px;
	right: 0px;
	background-image: url('images/ofr.png');
	background-repeat: no-repeat;
	background-position: right;
}

#ofc ul {
	margin: 0px;
	padding: 0px;
	padding-top: 6px;
	float: left;
}

#ofc ul li {
	margin: 0px;
	padding-left: 15px;
	padding-right: 15px;
	list-style: none;
	display: inline;
	border-right: 1px solid #cccccc;
}

#ofc ul li.last {
	border-right: none;
}

#ofc ul li a {
	color: #aaaaaa;
	text-decoration: none;
	text-transform: lowercase;
}

#ofc ul li a:hover {
	color: #000000;
}

#ofc ul li a.selected {
	color: #000000;
}

#ofs {
	background-image: url('images/ofs.png');
	background-repeat: no-repeat;
	width: 370px;
	height: 26px;
	float: right;
	overflow: hidden;
}

#ofs span {
	display: block;
	padding-top: 5px;
	padding-left: 200px;
	color: #aaaaaa;
}

#col0 {
	float: left;
	width: 49%;
}

#col1 {
	float: right;
	width: 49%;
}

#col0 ul,#col1 ul {
	list-style: square inside;
	/*	list-style-color: #606060;*/
	margin: 0px 4px;
	padding: 0px 4px;
}

#col0 ul li a,#col1 ul li a {
	text-decoration: none;
	color: #606060;
}

#col0 ul li a:hover,#col1 ul li a:hover {
	color: #000000;
}

#col0 ul li a:visited,#col1 ul li a:visited {
	color: #000000;
	font-style: italic;
}

#col0 table,#col1 table {
	margin-left: 20px;
}

#col0 table a,#col1 table a {
	color: #000000;
}

#col0 table a:hover,#col1 table a:hover {
	text-decoration: underline;
}

#col0 table a:visited,#col1 table a:visited {
	font-style: italic;
}

.it {
	background: url(images/dot.png) 0 0 repeat-x;
}

.ib {
	background: url(images/dot.png) 0 100% repeat-x
}

.il {
	background: url(images/dot.png) 0 0 repeat-y
}

.ir {
	background: url(images/dot.png) 100% 0 repeat-y
}

.ibl {
	background: url(images/ibl.png) 0 100% no-repeat
}

.ibr {
	background: url(images/ibr.png) 100% 100% no-repeat
}

.itl {
	background: url(images/itl.png) 0 0 no-repeat
}

.itr {
	background: url(images/itr.png) 100% 0 no-repeat;
	padding: 10px
}

.cbl {
	background: url(images/cbl.png) 0 100% no-repeat #e9eef1;
	width: 100%
}

.cbr {
	background: url(images/cbr.png) 100% 100% no-repeat
}

.ctl {
	background: url(images/ctl.png) 0 0 no-repeat
}

.ctr {
	background: url(images/ctr.png) 100% 0 no-repeat;
	padding: 10px
}

.cbl h3 {
	font-family: tahoma, arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	text-transform: uppercase;
	z-index: 100;
	margin: 0px;
	padding: 0px;
}

.cbl h3 span {
	padding-left: 30px;
	color: #636466;
}

.cbl table {
	margin: 0;
}

.cbl h4 {
	font-family: tahoma, arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.cbl ul,.cbl ul li {
	list-style: none;
}

#ad1 {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	background-color: #ffffff;
}

em#letter {
	float: right;
	margin: -11px 0px;
	padding: 0px;
	font-weight: bold;
	font-style: normal;
	font-family: tahoma, arial, sans-serif;
	font-size: 12pt;
	color: #aaaaaa;
}

#contact p.sent {
	color: #ff0000;
}

span.update {
	color: #ff0000;
}